body
{
    text-align: center;
}
#welcome {
    color: #FFFFFF;
    bottom: 0;
    background: linear-gradient(#60ebeb 0%, #27ae60 100%);
    display: table;
    width: 100%;
    height: 100%;
    z-index: 9;
}
   
#videos iframe
{
    width: 100%;
    height:500px;
    border: none;
}

.travel_mainDiv
{
    border:1px solid lightgrey
}

.travel_mainDiv img
{
    width: 100%;
}

.travel_mainDiv h5, travel_maiDiv p
{
    margin: 20px;
}
